/*
Name: Google News SASS
Version: 1.0
*/

@import "colors.scss"; /*Colors SASS file*/
@import "mixin.scss"; /*Mixin SASS file*/
@import "fonts.scss"; /*Fonts SASS file*/
@import "header.scss"; /*Header SASS file*/
@import "articles.scss"; /*Articles SASS file*/
@import "footer.scss";

body {
	padding: 0;
  width: 100%;
  overflow-x: hidden;
  display: block;
  clear: both;
  padding: 1%;
  box-sizing: border-box;
	font-family:$primary-font;
	font-size:13pt;
	color:black;
}

.row img {
  object-fit: cover;
}

@media screen and (max-width : 1024px) {

	/*All Devices*/
	html.touch *:hover {
    	pointer-events: none !important;
	}

	html, body {
		width:100% !important;
		margin:0px !important;
		overflow-x:hidden !important;
		-webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
	}

	body {
		margin: 0 0 20px;
		height:auto;
		min-height:100%;
	}
}

#content {
  width: 80%;
  margin: 0 auto;

  @media (max-width : 870px) {
    width: 100%;
  }
}

/*------FOOTER-----*/

#footer {
	width: 100%;
}

/*------Google Maps-----*/
.Googlemaps {
margin: 0 auto;
margin-top: 38px;
}

/*------Get in Touch-----*/

.getintouch {
margin: 0 auto;
padding-left: 8%;
margin-top: 59px;;
}

.getintouch h4 {
	font-size: 14px;
	font-weight: 700;
}

#Tochheading{
margin: 0 auto;
margin-top: 10px;
font-size: 25px;
font-family: 'Playfair Display';
font-weight: 400;
font-size: 25px;
padding-left: 8%;
padding-right: 8%;
margin-bottom: 38px;
}

.Footerpadding {
	padding-left: 6%;
}




/*------Bilder på teamet-----*/
#Bilderteam {
	margin-top: 5px;
}

#Bilderteam h2 {
	margin-top: 2px;
}
/*------Bilder på skolan-----*/

.bildskolaninne {
	margin-left: -20px;
	width: 106%;
	margin-bottom: 50px;
}

.Bildskolanute {
	@extend .bildskolaninne;
}



.bold {
	font-weight: 600;
}



/*------Paragraph padding-----*/
.paragraphtext  {
	padding-left: 8%;
	padding-right: 8%;
}

.paragraphtext h2 {
	font-size: 19px;
  font-weight: bold;
}

/*------Line break-----*/
.Linje {
	width: 200%;
	margin-left: -200px;
	margin-top: 100px;
	margin-bottom: 40px;
}
/*------Line break över footer-----*/
.Linjesist {
	width: 200%;
	margin-left: -200px;
}



.whoweare h4 {
	font-style: $primary-font;
	font-weight: 400;
}

.whoweare  {
	margin-top: 30px;
	font-style: $primary-font;
	font-weight: 400;
	margin-left: 100px;
}

.whoweare h2 {
	font-size: 25px;
	font-weight: 400;
}

.whoweare p {
	font-style: "Playfair Display";
	font-size: 22px;
	font-weight: 400;
}


.Bildisection {
	padding-left: 8%;
	padding-right: 8%;
}

.Bildisection .paragraphtext {
	font-size: 19px;
  font-weight: bold;
	margin-bottom: 35px;
}

.Bildisection h2 {
	font-size: 19px;
  font-weight: bold;
	margin-bottom: -1px;
}

.Bildisection p {
	font-style: "$secondary-font";
	font-weight: 400;
}


#embed-map-display .text-marker

.map-generator {
	max-width: 100%;
	max-height: 100%;
	background: none;
}

/*------Länk footer-----*/
a:link {
	text-decoration: none;

}

/*---RESPONSIV DESIGN--------------------------------------------------------*/
/*Mobilversion -iPad Mini- (Upp till Mobil)*/
@media (max-width: 480px) {
	img {
		max-width: 50%;
		object-fit: none;
			}
  }
