/*
Name: Google News SASS
Version: 1.0
*/

@import "colors.scss"; /*Colors SASS file*/
@import "mixin.scss"; /*Mixin SASS file*/
@import "fonts.scss"; /*Fonts SASS file*/
@import "header.scss"; /*Header SASS file*/
@import "articles.scss"; /*Articles SASS file*/

body {
	padding: 0;
  width: 100%;
  overflow-x: hidden;
  display: block;
  clear: both;
  padding: 1%;
  box-sizing: border-box;
	font-family:$primary-font;
	font-size:13pt;
	color:black;
}

.row img {
  object-fit: cover;
}

@media screen and (max-width : 1024px) {

	/*All Devices*/
	html.touch *:hover {
    	pointer-events: none !important;
	}

	html, body {
		width:100% !important;
		margin:0px !important;
		overflow-x:hidden !important;
		-webkit-text-size-adjust: none; /* Prevent font scaling in landscape */
	}

	body {
		margin: 0 0 20px;
		height:auto;
		min-height:100%;
	}
}

#content {
  width: 80%;
  margin: 0 auto;

  @media (max-width : 870px) {
    width: 100%;
  }
}

/*------FOOTER-----*/

#footer {
	width: 100%;
}

/*------Google Maps-----*/
.Googlemaps {
margin: 0 auto;
}

/*------Get in Touch-----*/

.getintouch {
width: 1185px;
height: 95px;
margin: 0 auto;
margin-bottom: 30px;
}

#Tochheading{
margin: 0 auto;
margin-bottom: 30px;
font-size: 30px;
width: 1233px;
height: 30px;
font-family: 'Playfair Display';
font-style: normal;
font-weight: 400;
font-size: 25px;
}

#Bilderteam {
	margin-top: 100px;
	padding-left: 8%;
	padding-right: 8%;
}

#Bilderteam h2 {
	margin-top: 1px;
}

.teamh1 {
position: absolute;
width: 1233px;
height: 30px;
font-family: 'Playfair Display';
font-style: normal;
font-weight: 700;
font-size: 19px;
line-height: 25px;
color: #000000;
padding-left: 8%;
margin-top: 40px;
}

.Bilderisection {
	margin: 0 auto;
}

.Bildskolanute {
 margin-left: -20px;
 width: 106%;
 margin-bottom: 50px;
}

.Linje {
	width: 200%;
	margin-left: -200px;
	margin-top: 100px;
}

#embed-map-display .text-marker

.map-generator {
	max-width: 100%;
	max-height: 100%;
	background: none;
}
